@import '../mixins';

.chart {
  margin-top: 8rem;
  margin-bottom: 7rem;
  transform: scale(2);

  @include tablet {
    transform: scale(1.4);
  }

  @include mobile {
    margin-top: -2rem;
    margin-bottom: -4rem;
    transform: scale(.7);
  }
}