@import '../mixins';

.main {
  background-image: url("../img/main-block/bg-2.png");
  background-size: 100%;
  position: relative;
  background-position-y: 2500px;
  background-repeat: repeat-y;
  z-index: 1;
  overflow: hidden;

  @include small-tablet {
    background-size: 470%;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/main-block/bg-1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: -2;
  }
}

.main__inner--first {
  display: flex;
  margin-bottom: 30rem;
  justify-content: flex-end;
  position: relative;
  z-index: 1;

  @include laptop {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
  }

  @include tablet {
    margin-top: -5rem;
    margin-bottom: 5rem;
  }

  @include mobile {
    margin-top: -20rem;
    margin-bottom: 3rem;
  }
}

.main__inner--right {
  margin-top: 10rem;
  width: 50%;

  @include laptop {
    margin-top: 50rem;
    width: 80%;
  }

  @include tablet {
    width: 90%;
    margin-top: 40rem;
  }
}

.main__logo {
  margin-left: 8.5rem;
  position: absolute;
  left: 0;
  top: 20%;

  @include laptop {
    left: auto;
    right: 0;
    top: 10%;
    width: 30%;
    margin-left: 0;
  }

  @include mobile {
    width: 40%;
  }
}

.main__title {
  font-weight: 700;
  font-size: 6rem;
  color: var(--white);

  @include laptop {
    font-size: 4.5rem;
  }

  @include tablet {
    font-size: 4rem;
  }

  @include mobile {
    font-size: 3rem;
  }
}

.main__text {
  font-weight: 400;
  font-size: 1.8rem;
  color: var(--white);
  line-height: 140%;

  @include tablet {
    font-size: 1.6rem;
  }

  @include mobile {
    font-size: 1.4rem;
  }
}

.main__load {
  display: flex;

  & > a {
    margin-right: 1.7rem;
    border: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;

    & > img {
      @include small-tablet {
        max-height: 62px;
        max-width: 170px;
        height: 100%;
        border-radius: 5px;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    @include small-tablet {
      margin-right: 0;
      max-height: 62px;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include small-tablet {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
}

.load__icon {
  width: 31px;
  height: 39px;
  margin-right: 1.6rem;

  @include small-tablet {
    width: 24px;
    height: 32px;
  }
}

.load--text {
  display: flex;
  flex-direction: column;
}

.subtext {
  margin-bottom: 0.6rem;
  color: var(--white);
  font-size: 1.5rem;

  @include small-tablet {
    font-size: 1.3rem;
    margin-bottom: 0rem;
  }
}

.suptext {
  color: var(--white);
  font-size: 1.8rem;

  @include small-tablet {
    font-size: 1.5rem;
  }
}

.main__bg--car {
  position: absolute;
  z-index: -1;
  bottom: -85%;
  left: 0;

  @include laptop {
    bottom: 20%;
    width: 50%;
  }

  @include tablet {
    bottom: 40%;
    left: 10%;
    width: 40%;
  }

  @include mobile {
    bottom: 50%;
    left: 10%;
    width: 50%;
  }
}

.concept__title {
  font-weight: 700;
  font-size: 3.4rem;
  color: var(--white);
  margin-bottom: 2.4rem;

  @include tablet {
    font-size: 3rem;
  }

  @include mobile {
    font-size: 2.4rem;
  }
}

.concept__subslider {
  display: flex;
  align-items: flex-end;
}

.concept__text {
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--white);
  line-height: 140%;
  margin-bottom: 3rem;
  width: 80%;

  @include small-tablet {
    width: 100%;
  }
}

.concept__nav {
  display: flex;
  margin-left: 6rem;
  margin-bottom: 3rem;

  @include small-tablet {
    display: none;
  }
}

.swiper {
  position: relative;
}

.slider__prev,
.slider__next {
  position: relative;
  width: 54px;
  height: 54px;
  background: #e99126;
  border-radius: 50%;
  cursor: pointer;

  &::after {
    display: block;
    position: absolute;
    content: "";
    width: 14px;
    height: 20px;
    background-image: url("../img/svg/slide-arrow.svg");
    background-position: center center;
    background-repeat: no-repeat;
    left: 22px;
    top: 16px;
  }
}

.slider__prev {
  margin-right: 2rem;

  &::after {
    transform: rotate(180deg);
    left: 18px;
  }
}
