<div class="concept">

  <img src="img/concept/light.png" alt="light" class="concept__light">

  <img src="img/concept/part1.png" alt="" class="concept__part1">

  <img src="img/concept/part2.png" alt="" class="concept__part2">

  <img src="img/concept/part3.png" alt="" class="concept__part3">

  <img src="img/concept/part4.png" alt="" class="concept__part4">

  <div class="container">

    <div class="concept__features">

      <h2 class="features__title">game features</h2>

      <span class="features__bg--text">game features</span>

      <div class="features__block">
        <ul class="features__list">
          <li class="features__list--item">
            <span>Configuration</span> - players can configure their Digger Train’s layout of wagons and engines in the
            manner that suits them best, but it will affect mission outcomes and yield.
          </li>
          <li class="features__list--item">
            <span>Upgrades</span> allow players to constantly improve their Digger Train’s components.
          </li>
        </ul>

        <ul class="features__list">
          <li class="features__list--item">
            <span>Resources collection</span> - players need to pummel their way through crumbling labyrinths while
            facing a slew of dangers.
          </li>
          <li class="features__list--item">
            <span>Hazards</span> lie in wait around every corner of the maze of underground labyrinths players venture
            through, as monsters can quickly reduce the player’s train characterists.
          </li>
        </ul>
      </div>

    </div>

    <div class="main__concept">

      <h2 class="concept__title">GAME CONCEPT</h2>
      <div class="concept__subslider">
        <p class="concept__text">
          When at the helm of the Digger Train, players pummel their way through dangerous mines, collect valuable
          resources to upgrade their machine, and fight off the monsters that inhabit the depths!
        </p>

        <div class="concept__nav">
          <div class="slider__prev">
          </div>
          <div class="slider__next">
          </div>
        </div>

      </div>

      <div class="concept__slider">

        <div class="swiper swiper1">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <a href="img/main-block/slides/slide-1.png" data-fslightbox="gallery">
                <img src="img/main-block/slides/slide-1.png" alt="">
              </a>
            </div>
            <div class="swiper-slide">
              <a href="img/main-block/slides/slide-2.png" data-fslightbox="gallery">
                <img src="img/main-block/slides/slide-2.png" alt="">
              </a>
            </div>
            <div class="swiper-slide">
              <a href="img/main-block/slides/slide-3.png" data-fslightbox="gallery">
                <img src="img/main-block/slides/slide-3.png" alt="">
              </a>
            </div>
            <div class="swiper-slide">
              <a href="img/main-block/slides/slide-1.png" data-fslightbox="gallery">
                <img src="img/main-block/slides/slide-1.png" alt="">
              </a>
            </div>
            <div class="swiper-slide">
              <a href="img/main-block/slides/slide-2.png" data-fslightbox="gallery">
                <img src="img/main-block/slides/slide-2.png" alt="">
              </a>
            </div>
            <div class="swiper-slide">
              <a href="img/main-block/slides/slide-3.png" data-fslightbox="gallery">
                <img src="img/main-block/slides/slide-3.png" alt="">
              </a>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>