<div class="game" id="lore">
  <div class="container">


    <img src="img/game-lore/light.png" alt="" class="lore__img--light">

    <div class="lore__bg">
      <span class="lore__bg--text">game <br> lore</span>
      <img class="wheel" src="img/game-lore/wheel.png" alt="wheel">
      <img src="img/game-lore/drill.png" alt="drill" class="drill">
      <img src="img/game-lore/chain.png" alt="chain" class="chain">
    </div>


    <div class="game__inner">

      <img src="img/game-lore/particles-1.png" alt="particles" class="part1">

      <img src="img/game-lore/particles-2.png" alt="particles" class="part2">

      <img src="img/game-lore/particles-3.png" alt="particles" class="part3">

      <img src="img/game-lore/particles-4.png" alt="particles" class="part4">

      <img src="img/game-lore/particles-5.png" alt="particles" class="part5">

      <img src="img/game-lore/fire.png" alt="fire" class="fire">
      <div class="game__lore">

        <h2 class="lore__title">
          GAME LORE
        </h2>
        <p class="lore__text">
          The game takes place in the distant future after an unknown disaster that drove the survivors into the depths
          of
          the Earth. Though the Union of Free Cities provides for the settlements, fierce competition rules, as those
          who
          extract the most resources get the best equipment.
        </p>
        <p class="lore__text">
          One day, when exploring the mines, the player tumbles into an abandoned hangar to find a highly advanced relic
          digger train that had been stored for many centuries. And now this machine is yours to command.
        </p>
      </div>

      <div class="game__img">
        <img src="img/game-lore/person.png" alt="man" class="lore__img">
      </div>

    </div>
  </div>
</div>