<div class="game" id="lore">
  <div class="container">

    <img src="img/game-lore/particles-1.png" alt="particles" class="part1">

    <img src="img/game-lore/particles-2.png" alt="particles" class="part2">

    <img src="img/game-lore/particles-3.png" alt="particles" class="part3">

    <img src="img/game-lore/particles-4.png" alt="particles" class="part4">

    <img src="img/game-lore/particles-5.png" alt="particles" class="part5">


    <img src="img/game-lore/light.png" alt="" class="lore__img--light">

    <div class="lore__bg">
      <span class="lore__bg--text">game <br> lore</span>
      <img class="wheel" src="img/game-lore/wheel.png" alt="wheel">
      <img src="img/game-lore/drill.png" alt="drill" class="drill">
      <img src="img/game-lore/chain.png" alt="chain" class="chain">
    </div>



    <img src="img/game-lore/fire.png" alt="fire" class="fire">
    <div class="game__inner">

      <div class="game__lore">

        <h2 class="lore__title">
          GAME LORE
        </h2>
        <p class="lore__text">
          It has been ages since the Great Catastrophe. Humanity had been hiding in shelters and bunkers until everyone was safe again. People had found their new home in the very depth of the earth. Soon after, They appeared.
        </p>
        <p class="lore__text">
          They called themselves Free Cities Union - the coalition of settlements that was made to protect its citizens. They established free trade of all the materials gathered underground.
        </p>
        <p class="lore__text">
          Now the hum and noises of mining equipment are heard from every nook and cranny. Some towns have shiny automatic drills and conveyor belts that deliver resources straight from the mines to the warehouses, but others have to work with simple tools and physical force. It all changed one day.
        </p>
      </div>

      <div class="game__img">
        <img src="img/game-lore/person.png" alt="man" class="lore__img">
      </div>
    </div>

    <div class="game__inner--bottom">
      <p class="lore__text">
        While exploring the caves, survivors were finding abandoned hangars that contained something indeed unbelievable: relics from the past - the DigTrains.
      </p>
      <p class="lore__text">
        These powerful  machines were used by the miners of the old times. They could tear through the most unbreakable rocks with the greatest ease! For centuries the trains were hidden, in secluded parts of the underground, where no one managed to find them. Engineers can fix the DigTrains, but no one knows how to make a new one from scratch. So each and everyone of them is a real treasure.
      </p>
      <p class="lore__text">
        You were lucky enough to find a DigTrain yourself. As soon as you see it, you hop into the driver’s seat and after a few attempts the engine comes alive. Now the DigTrain is yours.
      </p>
    </div>

  </div>
</div>