<header class="header" id="top">
  <div class="container">

    <div class="header__inner">

      <a href="#">
        <img src="img/site-logo.png" class="header__logo">
      </a>

      <nav class="header__nav">

        <a href="#lore" class="nav__link">
          <span class="nav__link--item">Game Lore</span>
        </a>

        <a href="#advant" class="nav__link">
          <span class="nav__link--item">Key advantages</span>
        </a>

        <a href="#token" class="nav__link">
          <span class="nav__link--item">Tokenomics</span>
        </a>

        <a href="#team__list" class="nav__link">
          <span class="nav__link--item">Team</span>
        </a>

        <a href="#team2" class="nav__link">
          <span class="nav__link--item">Advisors</span>
        </a>

        <a href="#parnterships" class="nav__link">
          <span class="nav__link--item">Partnerships</span>
        </a>

        <a href="#roadmap" class="nav__link">
          <span class="nav__link--item">Roadmap</span>
        </a>

        <a href="#develop" class="nav__link">
          <span class="nav__link--item">Developer</span>
        </a>

      </nav>

      <nav class="burger__mobile">
        <input id="burger" type="checkbox"/>

        <label for="burger" class="burger__label">
          <span></span>
          <span></span>
          <span></span>
        </label>

        <nav class="burger__toggle">
          <ul>
            <li><a class="burger__link" href="#lore">Game Lore</a></li>
            <li><a class="burger__link" href="#advant">Key advantages</a></li>
            <li><a class="burger__link" href="#token">Tokenomics</a></li>
            <li><a class="burger__link" href="#team__list">Team</a></li>
            <li><a class="burger__link" href="#team2">Advisors</a></li>
            <li><a class="burger__link" href="#parnterships">Partnerships</a></li>
            <li><a class="burger__link" href="#roadmap">Roadmap</a></li>
            <li><a class="burger__link" href="#develop">Developer</a></li>
          </ul>
        </nav>
      </nav>

    </div>

  </div>
</header>