<div class="main">
  <div class="container">
    <div class="main__inner">

      <div class="main__inner--first">

        <img src="img/main-block/logo.png" class="main__logo">

        <img src="img/main-block/car.png" alt="" class="main__bg--car">

        <div class="main__inner--right">


          <h1 class="main__title">TRAINCRAFT</h1>
          <p class="main__text">TRAINCRAFT is a <b>
              Free-to-Play Metaverse game
            </b> with embedded NFT elements that settles players at the helm of the Digger Train to explore rich mines,
            extract resources and upgrade their mean digging machine using the native TRACK token!</p>

          <div class="main__load">

            <a href="#">
              <img src="img/main-block/apk 1.png" alt="apk direct download">
            </a>

            <a href="#">
              <img src="img/main-block/apk 2.png" alt="google play download">
            </a>

            <a href="#">
              <img src="img/main-block/apk 3.png" alt="app store download">
            </a>

          </div>
          <!--./main__load-->


        </div>
        <!--./main__inner--right-->
      </div>
      <!--./main__inner--first-->
      <!--./main__concept-->

    </div>
    <!--./main__inner-->
  </div>
</div>