<div class="partner" id="parnterships">
  <div class="container">
    <h2 class="partner__title">PARTNERSHIPS</h2>
  </div>
  <!--./container-->
  <div class="partners__block">


    <div class="swiper swiper-p">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/partners/partner-1.png">
        </div>
        <div class="swiper-slide">
          <img src="img/partners/partner-2.png">
        </div>
        <div class="swiper-slide">
          <img src="img/partners/partner-3.png">
        </div>
        <div class="swiper-slide">
          <img src="img/partners/partner-4.png">
        </div>
        <div class="swiper-slide">
          <img src="img/partners/partner-5.png">
        </div>
        <div class="swiper-slide">
          <img src="img/partners/partner-6.png">
        </div>
        <div class="swiper-slide">
          <img src="img/partners/partner-7.png">
        </div>
      </div>
    </div>

  </div>
  <!--./partners__block-->
</div>
<!--./partner-->