<div class="roadmap-t" id="roadmap">
  <div class="container">
    <div class="roadmap__nav">

      <h2 class="roadmap__title">Roadmap</h2>
      <div class="road__slider">
        <div class="road__prev road__prev1"></div>
        <div class="road__next road__next1"></div>
      </div>

    </div>
  </div>

  <svg display="none">

    <symbol id="done" viewBox="0 0 30 30">
      <path
        d="M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z"
        fill="#80A840" />
      <path
        d="M27.5626 6.82031L14.2969 20.5548L14.3203 22.0313H14.9297L29.297 10.4531C28.8751 9.1641 28.2891 7.9219 27.5626 6.82031Z"
        fill="#9E9E9E" />
      <path
        d="M29.7189 6.16411L27.0705 3.53908C26.7189 3.18749 26.1329 3.18749 25.758 3.53908L14.4376 15.2344L9.5391 10.4063C9.18752 10.0547 8.60159 10.0547 8.22662 10.4063L5.88283 12.7267C5.53124 13.0782 5.53124 13.6642 5.88283 14.0157L13.711 21.7735C13.922 21.9845 14.2032 22.0548 14.4845 22.0313C14.7657 22.0548 15.047 21.9844 15.2579 21.7735L29.7189 7.47659C30.0705 7.10156 30.0705 6.51563 29.7189 6.16411Z"
        fill="#F2F1EF" />
      <path
        d="M15.2579 21.7735L29.7189 7.47658C30.0705 7.12499 30.0705 6.53906 29.7189 6.18748L29.2971 5.78906L14.461 20.3673L6.25785 12.3751L5.90627 12.7266C5.55468 13.0782 5.55468 13.6642 5.90627 14.0157L13.7345 21.7736C13.9454 21.9846 14.2267 22.0548 14.5079 22.0314C14.7657 22.0548 15.0469 21.9845 15.2579 21.7735Z"
        fill="#E6E5E3" />
    </symbol>

    <symbol id="undone" viewBox="0 0 30 30">
      <path
        d="M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z"
        fill="#E99126" />
    </symbol>

  </svg>

  <div class="swiper roadmap-t_swiper">
    <div class="swiper-wrapper roadmap-t_swiper-wrapper">
      <div class="swiper-slide roadmap-t_swiper-slide">

        <div class="road__block">

          <div class="road__item">
            <img class="road__img" src="img/roadmap/block-bg.png" alt="">
            <div class="road__info">
              <span class="road__title">Q2 2022</span>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#done"></use>
                </svg>
                Market Research
              </p>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#done"></use>
                </svg>
                Game Concept
              </p>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#done"></use>
                </svg>
                Game Economy Desing
              </p>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#done"></use>
                </svg>
                Team Hiring
              </p>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#done"></use>
                </svg>
                Start of Development
              </p>
            </div>
          </div>
          <!--./road__item-->

          <div class="road__item">
            <img class="road__img" src="img/roadmap/block-bg.png" alt="">
            <div class="road__info">
              <span class="road__title">Q3 2022</span>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#done"></use>
                </svg>
                Core Game Development
              </p>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#done"></use>
                </svg>
                Meta Gameplay Development
              </p>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#done"></use>
                </svg>
                Alpha Release
              </p>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#done"></use>
                </svg>
                Closed Alpha Test
              </p>
            </div>
          </div>
          <!--./road__item-->

          <div class="road__item">
            <img class="road__img" src="img/roadmap/block-bg.png" alt="">
            <div class="road__info">
              <span class="road__title">Q4 2022</span>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#done"></use>
                </svg>
                Blockchain Intergration
              </p>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#done"></use>
                </svg>
                Website and Pitch Deck Releaset
              </p>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#undone"></use>
                </svg>
                Community Building
              </p>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#undone"></use>
                </svg>
                Seed and Private Round
              </p>
            </div>
          </div>
          <!--./road__item-->

          <div class="road__item">
            <img class="road__img" src="img/roadmap/block-bg.png" alt="">
            <div class="road__info">
              <span class="road__title">Q1 2023</span>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#undone"></use>
                </svg>
                Beta Release
              </p>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#undone"></use>
                </svg>
                NFT Marketplace Launch
                and INO
              </p>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#undone"></use>
                </svg>
                In-game Quests and Achievements
              </p>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#undone"></use>
                </svg>
                Leaderboard
              </p>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#undone"></use>
                </svg>
                In-game Collections
              </p>
            </div>
          </div>
          <!--./road__item-->

          <div class="road__item">
            <img class="road__img" src="img/roadmap/block-bg.png" alt="">
            <div class="road__info">
              <span class="road__title">Q2 2023</span>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#undone"></use>
                </svg>
                Community Events
              </p>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#undone"></use>
                </svg>
                Collaborations and Partnerships
              </p>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#undone"></use>
                </svg>
                IDO and Listing Event
              </p>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#undone"></use>
                </svg>
                Cross-chain Implementation
              </p>
            </div>
          </div>
          <!--./road__item-->

          <div class="road__item">
            <img class="road__img" src="img/roadmap/block-bg.png" alt="">
            <div class="road__info">
              <span class="road__title">Q3 2023</span>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#undone"></use>
                </svg>
                NFT and Token Staking
              </p>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#undone"></use>
                </svg>
                Public Game Release
              </p>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#undone"></use>
                </svg>
                In-game Tournaments
              </p>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#undone"></use>
                </svg>
                Team Expansion
              </p>
            </div>
          </div>
          <!--./road__item-->

          <div class="road__item">
            <img class="road__img" src="img/roadmap/block-bg.png" alt="">
            <div class="road__info">
              <span class="road__title">Q3 2023</span>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#undone"></use>
                </svg>
                NFT and Token Staking
              </p>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#undone"></use>
                </svg>
                Public Game Release
              </p>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#undone"></use>
                </svg>
                In-game Tournaments
              </p>
              <p class="road__text">
                <svg class="road__progress">
                  <use xlink:href="#undone"></use>
                </svg>
                Team Expansion
              </p>
            </div>
          </div>
          <!--./road__item-->

        </div>
      </div>
    </div>
  </div>
</div>