<div class="roadmap-t" id="roadmap">
  <div class="container">
    <div class="roadmap__nav">

      <h2 class="roadmap__title">Roadmap</h2>
      <div class="road__slider">
        <div class="road__prev road__prev1"></div>
        <div class="road__next road__next1"></div>
      </div>

    </div>
  </div>

  <div class="swiper roadmap-t_swiper">
    <div class="swiper-wrapper roadmap-t_swiper-wrapper">
      <div class="swiper-slide roadmap-t_swiper-slide">

        <div class="road__block">

          <div class="road__item">
            <img class="road__img" src="img/roadmap/block-bg.png" alt="">
            <div class="road__info">
              <span class="road__title">Q2 2022</span>
              <p class="road__text">Market Research</p>
              <p class="road__text">Game Concept</p>
              <p class="road__text">Game Economy Desing</p>
              <p class="road__text">Team Hiring</p>
              <p class="road__text">Start of Development</p>
            </div>
          </div>
          <!--./road__item-->

          <div class="road__item">
            <img class="road__img" src="img/roadmap/block-bg.png" alt="">
            <div class="road__info">
              <span class="road__title">Q3 2022</span>
              <p class="road__text">Core Game Development</p>
              <p class="road__text">Meta Gameplay Development</p>
              <p class="road__text">Alpha Release</p>
              <p class="road__text">Closed Alpha Test</p>
            </div>
          </div>
          <!--./road__item-->

          <div class="road__item">
            <img class="road__img" src="img/roadmap/block-bg.png" alt="">
            <div class="road__info">
              <span class="road__title">Q4 2022</span>
              <p class="road__text">Blockchain Intergration</p>
              <p class="road__text">Website and Pitch Deck Releaset</p>
              <p class="road__text">Community Building</p>
              <p class="road__text">Seed and Private Round</p>
            </div>
          </div>
          <!--./road__item-->

          <div class="road__item">
            <img class="road__img" src="img/roadmap/block-bg.png" alt="">
            <div class="road__info">
              <span class="road__title">Q1 2023</span>
              <p class="road__text">Beta Release</p>
              <p class="road__text">NFT Marketplace Launch
                and INO</p>
              <p class="road__text">In-game Quests and Achievements</p>
              <p class="road__text">Leaderboard</p>
              <p class="road__text">In-game Collections</p>
            </div>
          </div>
          <!--./road__item-->

          <div class="road__item">
            <img class="road__img" src="img/roadmap/block-bg.png" alt="">
            <div class="road__info">
              <span class="road__title">Q2 2023</span>
              <p class="road__text">Community Events</p>
              <p class="road__text">Collaborations and Partnerships</p>
              <p class="road__text">IDO and Listing Event</p>
              <p class="road__text">Cross-chain Implementation </p>
            </div>
          </div>
          <!--./road__item-->

          <div class="road__item">
            <img class="road__img" src="img/roadmap/block-bg.png" alt="">
            <div class="road__info">
              <span class="road__title">Q3 2023</span>
              <p class="road__text">NFT and Token Staking</p>
              <p class="road__text">Public Game Release</p>
              <p class="road__text">In-game Tournaments</p>
              <p class="road__text">Team Expansion</p>
            </div>
          </div>
          <!--./road__item-->

          <div class="road__item">
            <img class="road__img" src="img/roadmap/block-bg.png" alt="">
            <div class="road__info">
              <span class="road__title">Q3 2023</span>
              <p class="road__text">NFT and Token Staking</p>
              <p class="road__text">Public Game Release</p>
              <p class="road__text">In-game Tournaments</p>
              <p class="road__text">Team Expansion</p>
            </div>
          </div>
          <!--./road__item-->

        </div>
      </div>
    </div>
  </div>
</div>